<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>

  <link rel="stylesheet" th:href="@{/css/styleLoginRegister.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/script.js}"></script>
</head>
<body>
  <div class="container w-75 bg-primary mt-5 rounded shadow">
    <div class="row align-items-stretch">
      <div class="col sesion d-none d-lg-block col-md-5 col-lg-5 col-xl-6">

      </div>
      <div class="col bg-white p-5 rounded-end">
        <div class="text-end ">
          <img th:src="@{/assets/img/logo.png}" width="150" alt="">
        </div>
        <h2 class="fw-bold text-center pt-5 mb-5">Bienvenido</h2>

        <!-- Login -->
        <form action="#">
          <div class="mb-4">
            <label for="email" class="form-label">Correo Electronico</label>
            <input type="email" class="form-control" placeholder="Ingresa tu correo electronico" name="email">
          </div>
          <div class="mb-4">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" placeholder="Ingresa tu contraseña" name="password">
          </div>
          <div class="mb-4 form-check">
            <input type="checkbox" name="connected" class="form-check-input" id="">
            <label for="connected" class="form-check-label">Mantenerme conectado</label>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary" onclick="ingresoEstadisticas();">Iniciar Sesión</button>
          </div>
          <div class="my-3">
            <span><a href="#" >¿Has olvidado tu contraseña?</a></span>
          </div>
        </form>

        <!-- Login con redes sociales -->
        <div class="container w-100 my-5">
          <div class="row text-center">
            <div class="col-12">O inicia sesión con</div>
          </div>
          <div class="row">
            <!-- Facebook -->
            <div class="col">              
              <button class="btn btn-outline-primary w-100 my-1">
                <div class="row align-items-center">
                  <div class="col-2 d-none d-md-block">
                    <img th:src="@{/assets/img/fb.png}" width="32" alt="">
                  </div>
                  <div class="col-12 col-md-10 text-center">Facebook</div>
                </div>
              </button>              
            </div>
            <!-- Google -->
            <div class="col">
              <button class="btn btn-outline-danger w-100 my-1">
                <div class="row align-items-center">
                  <div class="col-2 d-none d-md-block">
                    <img th:src="@{/assets/img/google.png}" width="32" alt="">
                  </div>
                  <div class="col-12 col-md-10 text-center">Google</div>
                </div>
              </button>   
            </div>            
          </div>
        </div>
        
        <div class="text-center">
          <p class="d-inline-block">¿Todavia no tienes una cuenta?</p>
          <a th:href="@{/registro}" class="fw-bold text-decoration-none">Crea una ahora</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>