body{
  background: #ee637f;
  background: linear-gradient(to right, #ee637f, #fff);
}
.sesion{
  background-image: url("../assets/img/iniciarsesion.jpeg");
  background-position: center center;
}
.registro{
  background-image: url("../assets/img/registro.jpg");
  background-position: center center;
}

/* Oculta los controles de flecha en los elementos input de tipo "number" en navegadores basados en WebKit (como Chrome y Safari) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Oculta los controles de flecha en los elementos input de tipo "number" en navegadores basados en Firefox */
input[type=number] {
  appearance: textfield;
}